.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}
.logo a {
  display: block;
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
