/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  .blog h1 {
    @apply font-bold text-center;
  }
  h2 {
    @apply text-2xl;
  }
  .blog h2 {
    @apply m-3 font-bold;
  }
  a {
    @apply text-link-light dark:text-link-dark;
  }
  img {
    @apply rounded-lg;
  }
  p {
    @apply text-lg py-3;
  }
}
@layer components {
  .accent {
    @apply bg-gradient-to-br
     from-emerald-500 
     to-cyan-400 
     bg-clip-text 
     text-transparent;
  }
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  height: 100%;
}

/* - Links */
a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

/* - Buttons */
.animated-button {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

.animated-button span {
  position: relative;
  overflow: hidden;
  display: block;
  text-shadow: 0 20px 0 theme('colors.emerald.400');
}
.dark .animated-button span {
  text-shadow: 0 20px 0 #68e0cf;
}

.animated-button span em {
  min-width: 5px;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  backface-visibility: hidden;
  transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}

.animated-button span em:nth-child(1) {
  transition-delay: 0.025s;
}

.animated-button span em:nth-child(2) {
  transition-delay: 0.05s;
}

.animated-button span em:nth-child(3) {
  transition-delay: 0.075s;
}

.animated-button span em:nth-child(4) {
  transition-delay: 0.1s;
}

.animated-button span em:nth-child(5) {
  transition-delay: 0.125s;
}

.animated-button span em:nth-child(6) {
  transition-delay: 0.15s;
}

.animated-button span em:nth-child(7) {
  transition-delay: 0.175s;
}

.animated-button span em:nth-child(8) {
  transition-delay: 0.2s;
}

.animated-button span em:nth-child(9) {
  transition-delay: 0.225s;
}

.animated-button span em:nth-child(10) {
  transition-delay: 0.25s;
}

.animated-button span em:nth-child(11) {
  transition-delay: 0.275s;
}

a:hover .animated-button em {
  transform: translateY(calc(20px * -1));
}

figure[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 16px;
}
